<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleIconFile</key>
        <string>logo.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.thomaskefauver.calcuchord</string>
        <key>CFBundleName</key>
        <string>Calcuchord</string>
        <key>CFBundleDisplayName</key>
        <string>Calcuchord</string>
        <key>Name</key>
        <string>Calcuchord</string>
        <key>CFBundleExecutable</key>
        <string>Calcuchord.Mac</string>
        <key>CFBundleVersion</key>
        <string>1.0.12</string>
        <key>CFBundleShortVersionString</key>
        <string>1.5</string>
        <key>LSMinimumSystemVersion</key>
        <string>12.0</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>LSApplicationCategoryType</key>
        <string>public.app-category.music</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>NSHumanReadableCopyright</key>
        <string>Calcuchord © 2025</string>
    </dict>
</plist>
